<div class="container">
  <h2 class="mt-5 mb-3 text-center text-primary">Reset Password</h2>
  <div class="card p-5">
    <div class="card-body">
      <form (submit)="forgotPassword()">
        <div class="mb-3 fs-5">
          <label for="email" class="form-label">Email address</label>
          <input
            [(ngModel)]="email"
            type="email"
            class="form-control p-2"
            name="email"
            id="email"
            placeholder="Enter email address to reset the password"
          />
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-primary p-2 w-100 mt-3 mb-4 fs-5"
          >
            Send link
          </button>
        </div>
        <div class="fs-5">
          <span>Back to?</span> <a href="/login"> log in</a>
        </div>
      </form>
    </div>
  </div>
</div>
