<div class="container mt-5">
  <h2 class="text-center mb-3">Expense form</h2>
  <form class="fs-5" [formGroup]="expenseForm" (submit)="AddExpense()">
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input
        type="number"
        class="form-control"
        name="amount"
        id="amount"
        formControlName="amount"
        placeholder="Enter amount spent"
      />
    </div>
    <div class="text-danger">
      @if ((expenseForm.get('amount')?.hasError('required'))&&
      (expenseForm.get('amount')?.touched)) {
      <p>Amount required</p>
      }
    </div>
    <div class="mb-3">
      <select
        class="form-select"
        formControlName="category"
        aria-label="Default select example"
      >
        <option selected disabled>Category</option>
        <option value="Groceries">Groceries</option>
        <option value="Utilities">Utilities</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Travel">Travel</option>
        <option value="MembershipAndSubscription">
          MembershipAndSubscription
        </option>
        <option value="Toiletries">Toiletries</option>
      </select>
    </div>
    <div class="text-danger">
      @if ((expenseForm.get('category')?.hasError('required'))&&
      (expenseForm.get('category')?.touched)) {
      <p>Category required</p>
      }
    </div>
    <div class="form-floating">
      <textarea
        class="form-control"
        name="description"
        id="description"
        formControlName="description"
      ></textarea>
      <label for="floatingTextarea">Describe expense</label>
    </div>
    <div class="text-center mt-5">
      <button type="submit" class="btn btn-primary w-100 p-3">
        @if (isEdit) { Edit Expense } @else { Add Expense }
      </button>
    </div>
  </form>
</div>
