@media screen and (max-width: 600px) {
  .expense-container {
    flex-direction: column;
    width: 100%;
    .part1 {
      width: 100%;
      min-width: 350px;
    }
  }
}
@media screen and (max-width: 400px) {
  .expense-container {
    .part1 {
      width: 100%;
      min-width: 200px;
    }
  }
}
.part1 {
  min-width: 400px;
}
