.part1 {
  width: 40%;
}

@media screen and (max-width: 900px) {
  .card {
    .expense-container {
      flex-direction: column;
      .part1 {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    min-width: 450px;
    .expense-container {
      flex-direction: column;
      .part1 {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .card {
    max-width: 200px;
    width: 100%;
    font-size: 1rem;
    .expense-container {
      flex-direction: column;
    }
  }
}
