<div class="container d-flex justify-content-center p-5">
  <div>
    <div class="mb-2 text-end row">
      <div class="col-8">
        <h1 class="text-end text-primary">Expense Tracker</h1>
      </div>
      <div class="col text-end">
        <button (click)="logout()" class="btn btn-danger mt-2 p-2 fs-5">
          Logout
        </button>
      </div>
    </div>

    <div class="card p-3">
      <div class="card-body">
        <div class="expense-container d-flex">
          <div class="part1 mt-3 me-3">
            <app-budget-display></app-budget-display>

            <app-expense-form></app-expense-form>
          </div>
          <div class="expense">
            <app-expense-display></app-expense-display>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
